*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    background-image: url(16.jpg);    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 610px;
    width: 100%;
    color: white;

    .phone{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        // border: 1px solid red;
        width: 70%;
        margin: 0 auto;
        .phon{
            display: flex;
            i{
                margin-right: 10px;
            }
        }
        
        button{
            padding: 10px 16px;
            background-color: rgb(165, 23, 221);
            color: white;
            border-radius: 10px;
            text-transform: uppercase;
            
            &:hover{
                
                background-color: transparent;
                color: white;
                border-color: white;
            }
        }

    }
    .yammoe{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        // border: 1px solid red;
        width: 70%;
        margin: 0 auto;
        text-transform: uppercase;
        ul.menu{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 60%;
            list-style: none;
            height: 15vh;
            // border: 1px solid red;
           
            
            li{
                &:nth-child(1){
                    a{
                        color: rgb(165, 23, 221);
                    }
            }
                
            }
            a{
                text-decoration: none;
                color: white;
                padding: 10px 20px;
                &:hover{
                    color: rgb(165, 23, 221);
                    
                }
                
            }

        }
       

    }
    .netus{
        width: 35%;
        margin: 0 auto;
        height: 450px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        // border: 1px solid red;
        text-transform: capitalize;
        h1{
            font-size: 40px;
        }
        h3{
            margin: 40px 0 15px 0;
        }
        h5{
            margin: 20px 0;
        }
        .egestas{
            width: 50%;
            height: 40px;
            margin: 0 auto;
            // border: 1px solid red;
            display: flex;
            justify-content: space-between;

        
        button{
            text-transform: uppercase;
            padding: 10px 20px;
            border-radius: 20px;
            border-color: white;
            &:nth-child(1){
                background-color: rgb(165, 23, 221);
                
                color: white;
                &:hover{
                    border-color: white;
                    color: white;
                    background-color: transparent;
                }
            }
            &:nth-child(2){
                background-color: transparent;
                border-color: white;
                color: white;
                &:hover{
                    
                    color: white;
                    background-color: rgb(165, 23, 221);;
                    
                }

            }
           
        }
    }

    }
}
section.nulla{
    height: 610px;
    width: 100%;
    background-image: url(16.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    display: flex;
    justify-content: center;
    .orta{
        width: 70%;
        height: 420px;
        margin: auto auto;
        background-color: white;
        border-top-left-radius: 40px;
        border-bottom-right-radius: 40px;
        .turpis{
            height: 100px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            h3{
                font-size: 10px;
            }
        }
        .ante{
            width: 80%;
            height: 300px;            
            margin: auto auto;
            display: flex;
            justify-content: space-between;
            
            .ante-1{
                width: 48%;
                height: 300px;
                
                display: flex;
                flex-direction: column;
                
                .ante-01{
                    width: 100%;
                    height: 100px;                    
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    cursor: pointer;
                    
                    &:hover{
                        .circle{
                            .circle-1{
                                background-color: rgb(73, 73, 218);
                                i{
                                    color: white;
                                }
                            }

                        }
                        
                    }
                    .circle{
                        width: 25%;
                        height: 100px;
                    
                    display: flex;
                    justify-content: center;
                    align-items: center;
                   
                    .circle-1{
                        width: 80px;
                        height: 80px;
                        border-radius: 50%;
                        display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: rgb(228, 226, 226);
                    transition: 1s;
                    i{
                        color: rgb(160, 177, 235);
                    }
                    }

                    }
                    .nisl{
                        width: 75%;
                        height: 100%;
                        font-size: 12px;
                        display: flex;
                        flex-direction: column;                        
                        h2{
                            margin: 10px 0;
                        }
                    }

                }

            }
            .ante-2{
                width: 48%;
                height: 300px;
                border: 1px solid rgb(109, 106, 106);
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
               
                
                .ante-02{
                    width: 80%;
                    height: 240px;
                    background-image: url(16.jpg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    
                }
                .ante-03{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: rgba(9, 82, 240, 0.5);
                    opacity: 0;
                    transition: 0.5s;
                    i{
                        color: white;
                        font-size: 30px;
                    }
                    &:hover{
                        opacity: 1;
                    }
                    

                }

            }

        }

    }
}
section.footer{
    height: 635px;
    width: 100%;
    background-image: url(17.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    .footer-1{
        height: 400px;
        width: 100%;
        .cards{
            width: 80%;
            height: 400px;            
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .card{
                width: 22%;
                height: 360px;
                .div{
                    height: 70px;
                    width: 100%;    
                    
                    
                    

                }
                &:nth-child(1){
                    h3{
                        margin-bottom: 50px;
                        font-weight: 100;
                        
                        a{
                            text-decoration: none;
                        }
                        
                    }
                    

                    .input{
                        width: 100%;
                        height: 50px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .input-2{
                            width: 40px;
                            height: 40px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: rgba(180, 177, 177, 0.5);
                            transition: 0.5s;
                            &:hover{
                                background-color: rgba(55, 79, 212, 0.5);
                            }
                            
                        }
                    }
                }
                &:nth-child(2){
                    display: flex;                    
                    flex-direction: column;                    
                    .leo{
                        height: 50px;
                        width: 100%;                        
                        display: flex;  
                        border-bottom: 1px solid rgb(131, 128, 128);
                        display: flex;
                        align-items: center;
                        &:nth-child(6){
                            border-bottom: none;
                        }
                        a{
                            text-decoration: none;
                            font-size: 20px;
                        }                   
                        
                        

                    }
                }
                &:nth-child(3){
                    display: flex;
                    flex-direction: column;
                    h3{
                        margin-bottom: 30px;
                    }
                    input{
                        padding: 10px 20px;
                        margin-top: 15px;
                        border-radius: 10px;
                        background-color: rgba(168, 162, 162, 0.5);
                        border: none;
                        outline: none;
                        transition: 0.5s;
                        &:focus{
                            background-color: rgba(14, 46, 226, 0.5);
                            
                        }
                        &:nth-child(5){
                            background-color: blue;
                            color: white;
                            width: 50%;
                            &:hover{
                                background-color: transparent;
                                border: 1px solid white;
                            }
                        }
                    }
                }
                &:nth-child(4){                   
                    
                    .dia{
                        height: 290px;
                        width: 100%;                        
                        display: grid;
                        grid-template-columns: repeat(3,1fr);
                        gap: 10px;
                    .diam{
                        height: 86px;
                        width: 100%;                        
                        background-color: rgba(248, 242, 242, 0.5);
                        transition: 1s;
                        .icon{
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: rgba(103, 121, 224, 0.5);
                            i{
                                color: white;
                                font-size: 30px;
                            }
                            opacity: 0;
                            &:hover{
                                opacity: 1;
                            }
                        }
                    }
                }
                }
                
            }
            
        }
    }
    .footer-2{
        height: 100px;
        width: 80%;        
        align-items: center;
        text-align: center;
        display: flex;
        justify-content: center;
        border: 1px solid rgb(180, 176, 176);
        margin: 0 auto;
        border-left: none;
        border-right: none;
        ul.menu{
            width: 60%;
            display: flex;
            justify-content: space-between;
            list-style: none;
            a{
                text-decoration: none;
                text-transform: uppercase;
                color: white;
                transition: 0.5s;
                &:hover{
                    color: blue;
                }
            }
        }
    }
    .footer-3{
        height: 135px;
        width: 80%;
        display: flex;
        justify-content: space-between;        
        margin: 0 auto;
        align-items: center;
    }
    


}